<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="id.pineapple.notifysync">
	
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	
	<application
			android:name=".App"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			android:process=":notify_sync">
		<activity
				android:name=".MainActivity"
				android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		
		<receiver
				android:name=".MyBroadcastReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:host="notifysync" android:path="/" android:scheme="package" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
			</intent-filter>
		</receiver>
		
		<service
				android:name=".BackgroundService"
				android:enabled="true" />
		
		<service
				android:name=".NLService"
				android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
			<intent-filter>
				<action android:name="android.service.notification.NotificationListenerService"/>
			</intent-filter>
		</service>
		
		<receiver
				android:name=".plugins.FileReceiverPlugin$BroadcastReceiver"
				android:enabled="true" />
		
		<activity
				android:name=".plugins.SharePlugin$DevicePickerActivity"
				android:theme="@style/Theme.AppCompat.Light.Dialog.Alert">
			
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
			<meta-data
					android:name="android.service.chooser.chooser_target_service"
					android:value="id.pineapple.notifysync.plugins.SharePlugin$DevicePickerService" />
		</activity>
		<service
				android:name=".plugins.SharePlugin$DevicePickerService"
				android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
			<intent-filter>
				<action android:name="android.service.chooser.ChooserTargetService" />
			</intent-filter>
		</service>
		<receiver
				android:name=".plugins.SharePlugin$BroadcastReceiver"
				android:enabled="true" />
		
		<provider
				android:name=".GenericFileProvider"
				android:authorities="${applicationId}.GenericFileProvider"
				android:exported="false"
				android:grantUriPermissions="true">
			
			<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/provider_paths" />
		</provider>
	</application>
</manifest>
